
        body {
            font-family: Arial, sans-serif;
            background: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .todo-container {
            background: #fff;
            padding: 20px;
            width: 300px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        h1 {
            text-align: center;
        }

        input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        button {
            width: 100%;
            padding: 8px;
            margin-top: 10px;
            cursor: pointer;
        }

        ul {
            list-style: none;
            padding: 0;
            margin-top: 15px;
        }

        li {
            padding: 8px;
            background: #eee;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        li.done {
            text-decoration: line-through;
            color: gray;
        }

        li {
        animation: fadeIn 1.3s ease;
        }

        @keyframes fadeIn {
        from { opacity: 0; transform: translateY(-5px); }
        to { opacity: 1; transform: translateY(0); }
        }


        .delete {
            background: red;
            color: white;
            border: none;
            width: 10%;
            padding: 4px 8px;
            cursor: pointer;
        }
    